<h1>Pilots</h1>
<button type="button" class="btn btn-primary btn-lg btn-block" (click)="addPilot()">Add new pilot</button>
<table class="table table-hover">
    <thead>
        <tr>
            <td>First name</td>
            <td>SecondName</td>
            <td>Birth date</td>
            <td>Experience</td>
            <td>Crew id</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pilot of pilots">
            <ng-template [ngTemplateOutlet]="loadTemplate(pilot)" 
                        [ngTemplateOutletContext]="{ $implicit: pilot}">
            </ng-template>
        </tr>
    </tbody>
</table>
<div>{{statusMessage}}</div>
   
   
<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-pilot>
    <td>{{pilot.firstName}}</td>
    <td>{{pilot.secondName}}</td>
    <td>{{pilot.birthday | date}}</td>
    <td>{{pilot.experience}}</td>
    <td>{{pilot.crewModelId}}</td>
    <td>
        <button type="button" class="btn btn-warning" (click)="editPilot(pilot)">Update</button>
    </td>
    <td>
        <button type="button" class="btn btn-danger" (click)="deletePilot(pilot)">Delete</button>
    </td>
</ng-template>
  
<!--шаблон для редактирования-->
<ng-template #editTemplate>
    <td>
      <div class="form-group">
          <input type="text" [(ngModel)]="editedPilot.firstName" class="form-control" name="first" #first="ngModel" required/>
          <div [hidden]="first.valid || first.untouched" class="alert alert-danger">
            no first name specified
          </div>
      </div>
    </td>

    <td>
        <div class="form-group">
            <input type="text" [(ngModel)]="editedPilot.secondName" class="form-control" name="second" #second="ngModel" required/>
            <div [hidden]="second.valid || second.untouched" class="alert alert-danger">
              no second name specified
            </div>
        </div>
    </td>

    <td>
        <div class="form-group">
            <input type="text" [(ngModel)]="editedPilot.birthday" class="form-control" name="birth" #birth="ngModel" required/>
            <div [hidden]="birth.valid || birth.untouched" class="alert alert-danger">
              no birth date specified
            </div>
        </div>
    </td>

    <td>
        <div class="form-group">
            <input type="text" [(ngModel)]="editedPilot.experience" class="form-control" name="experience" #experience="ngModel" required  pattern="(100 | ([1-9][0-9][0-9])|([1-9][0-9])|[1-9])"/>
            <div [hidden]="experience.valid || experience.untouched" class="alert alert-danger">
              no experience specified
            </div>
        </div>
    </td>

    <td>
        <div class="form-group">
            <input type="text" [(ngModel)]="editedPilot.crewModelId" class="form-control" name="crwId" #crwId="ngModel" required pattern="(100 | ([1-9][0][0])|([1-9][0-9])|[1-9])"/>
            <div [hidden]="crwId.valid || crwId.untouched" class="alert alert-danger">
              no crew id specified
            </div>
        </div>
    </td>
    <td>
        <input type="button" [disabled]="first.invalid || second.invalid || birth.invalid || experience.invalid || crwId.invalid" value="Save" (click)="savePilot()" class="btn btn-success" />
    </td>
    <td>
        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </td>
</ng-template>