<h1>Pilots</h1>
<button type="button" class="btn btn-primary btn-lg btn-block" (click)="addPilot()">Add new pilot</button>
<table class="table table-striped">
    <thead>
        <tr>
            <td>First name</td>
            <td>SecondName</td>
            <td>Birth date</td>
            <td>Experience</td>
            <td>Crew id</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pilot of pilots">
            <ng-template [ngTemplateOutlet]="loadTemplate(pilot)" 
                        [ngTemplateOutletContext]="{ $implicit: pilot}">
            </ng-template>
        </tr>
    </tbody>
</table>
<div>{{statusMessage}}</div>
   
   
<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-pilot>
    <td>{{pilot.firstName}}</td>
    <td>{{pilot.secondName}}</td>
    <td>{{pilot.birthday}}</td>
    <td>{{pilot.experience}}</td>
    <td>{{pilot.crewModelId}}</td>
    <td>
        <button type="button" class="btn btn-warning" (click)="editPilot(pilot)">Update</button>
    </td>
    <td>
        <button type="button" class="btn btn-danger" (click)="deletePilot(pilot)">Delete</button>
    </td>
</ng-template>
  
<!--шаблон для редактирования-->
<ng-template #editTemplate>
    <td>
        <input type="text" [(ngModel)]="editedPilot.firstName" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedPilot.secondName" class="form-control" />
    </td>
    <td>
      <input type="text" [(ngModel)]="editedPilot.birthday" class="form-control" />
    </td>
    <td>
      <input type="text" [(ngModel)]="editedPilot.experience" class="form-control" />
    </td>
    <td>
      <input type="text" [(ngModel)]="editedPilot.crewModelId" class="form-control" />
    </td>
    <td>
        <input type="button" value="Save" (click)="savePilot()" class="btn btn-success" />
    </td>
    <td>
        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </td>
</ng-template>