<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    	<!-- Ссылка с логотипом -->
	  <a class="navbar-brand" href="#">
      <img src="http://s1.iconbird.com/ico/0612/VistaStyleGISGPSMAP/w256h2561339397629Airport.png" width="50" height="50">
    </a>
    
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbar1">

          <ul class="navbar-nav">

            <li class="nav-item">
              <a class="nav-link" [routerLink]='["/pilots"]'>Pilots <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [routerLink]='["/stewardesses"]'>Stewardesses <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" [routerLink]='["/crews"]'>Crews <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [routerLink]='["/tickets"]'>Tickets <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" [routerLink]='["/departures"]'>Departures <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]='["/flights"]'>Flights <span class="sr-only">(current)</span></a>
              </li>
     

          <li class="nav-item">
              <a class="nav-link" [routerLink]='["/aircrafts"]'>Aircrafts <span class="sr-only">(current)</span></a>
            </li>

         <li class="nav-item">
            <a class="nav-link" [routerLink]='["/airtypes"]'>Air types <span class="sr-only">(current)</span></a>
          </li>
      </ul>
      </div>
  </nav>