<h1>Stewardesses</h1>
<button type="button" class="btn btn-primary btn-lg btn-block" (click)="goToCreateStew()">Add new stewardesses</button>

<table class="table table-hover">
    <thead>
        <tr class="tr-head">
            <td (click)="sortByName()">First name</td>
            <td>SecondName</td>
            <td>Birth date</td>
            <td>Crew id</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let stew of stewardesses" (click)="goToDetails(stew)">
            <td>{{stew.firstName}}</td>
              <td>{{stew.secondName}}</td>
              <td>{{stew.birthDay | date}}</td>
              <td>{{stew.crewModelId}}</td>
        </tr>
    </tbody>
</table>
<div>{{statusMessage}}</div>
