td {
    height: 50px;
    font-size: 14px;
}

.tr-head{
    background-color: lightslategray;
    color: white;    
}

input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}

#arrows:hover{
    color: red;
}