<h1>Stewardesses detail info</h1>

<button type="button" class="mb-xs btn btn-outline-secondary" (click)="back()">Back</button>

<ng-template [ngTemplateOutlet]="loadTemplate(stew)" 
             [ngTemplateOutletContext]="{ $implicit: stew}">
</ng-template>

<ng-template #readOnlyTemplate let-stew>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h4>Stewardesses Profile</h4>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form>
                      <div class="form-group row">
                        <label for="userid" class="col-4 col-form-label">Id</label> 
                        <div class="col-8">
                          <input id="username" value="{{stew.id}}" name="userid" class="form-control here" disabled>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="name" class="col-4 col-form-label">First Name</label> 
                        <div class="col-8">
                          <input id="name" value="{{stew.firstName}}" name="name" class="form-control here" type="text" disabled>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="lastname" class="col-4 col-form-label">Last Name</label> 
                        <div class="col-8">
                          <input id="lastname" value="{{stew.secondName}}" name="lastname" class="form-control here" type="text" disabled>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="birth" class="col-4 col-form-label">Birth date</label> 
                        <div class="col-8">
                          <input id="text" value="{{stew.birthDay | date}}" name="birth" class="form-control here" type="text" disabled>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="crew" class="col-4 col-form-label">Crew Id</label> 
                        <div class="col-8">
                            <input id="text" value="{{stew.crewModelId}}" name="crew" class="form-control here" type="text" disabled>
                        </div>
                      </div>
                      
                     
                      <div class="form-group row">                          
                        <div class="offset-10 col-8" >
                                <button id="updateButton" type="button" class="btn btn-primary btn-lg" (click)="update(stew)">Update</button>
                                <button id="deletebutton" type="button" class="btn btn-danger btn-lg" (click)="deleteStewardesses(stew)">Delete</button>
                        </div>
                      </div>

                  </form>
            </div>
        </div>
        
    </div>
</div>
</ng-template>

<!--шаблон для редактирования-->
<ng-template #editTemplate>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4>Stewardesses Profile</h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form>
                          <div class="form-group row">
                            <label for="name" class="col-4 col-form-label">First Name</label> 
                            <div class="col-8">
                                <input type="text" [(ngModel)]="editStew.firstName" class="form-control" name="first" #first="ngModel" required/>
                                <div [hidden]="first.valid || first.untouched" class="alert alert-danger">
                                    no first name specified
                                </div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="lastname" class="col-4 col-form-label">Last Name</label> 
                            <div class="col-8">
                              <input [(ngModel)]="editStew.secondName" name="last" class="form-control here" type="text" #last="ngModel" required>
                              <div [hidden]="last.valid || last.untouched" class="alert alert-danger">
                                  no second name specified
                                </div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="birth" class="col-4 col-form-label">Birth date</label> 
                            <div class="col-8">
                              <input id="text" [(ngModel)]="stew.birthDay" name="birth" class="form-control here" type="text" #birth="ngModel" required>
                              <div [hidden]="birth.valid || birth.untouched" class="alert alert-danger">
                                  no birth date specified
                              </div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label for="crew" class="col-4 col-form-label">Crew Id</label> 
                            <div class="col-8">
                                <input id="text" [(ngModel)]="editStew.crewModelId" name="crew" class="form-control here" type="text" #crew="ngModel" required>
                                <div [hidden]="crew.valid || crew.untouched" class="alert alert-danger">
                                    no crew id specified
                                </div>
                            </div>
                          </div>
                          
                         
                          <div class="form-group row">                          
                            <div class="offset-10 col-8" >
                                <button type="button" class="btn btn-success btn-lg" (click)="saveUpdates()" [disabled]="first.invalid || last.invalid || birth.invalid || crew.invalid">Save</button>
                                <button id="deletebutton" type="button" class="btn btn-warning btn-lg" (click)="cancel()">Cancel</button>
                            </div>
                          </div>
    
                      </form>
                </div>
            </div>
            
        </div>
    </div>
</ng-template>
