<h1>Stewardesses detail info</h1>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h4>Stewardesses Profile</h4>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form>
                      <div class="form-group row">
                        <label for="userid" class="col-4 col-form-label">Id</label> 
                        <div class="col-8">
                          <input id="username" [(ngModel)]="stew.id" name="userid" class="form-control here" disabled>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="name" class="col-4 col-form-label">First Name</label> 
                        <div class="col-8">
                          <input id="name" [(ngModel)]="stew.firstName" name="name" class="form-control here" type="text">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="lastname" class="col-4 col-form-label">Last Name</label> 
                        <div class="col-8">
                          <input id="lastname" [(ngModel)]="stew.secondName" name="lastname" class="form-control here" type="text">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="birth" class="col-4 col-form-label">Birth date</label> 
                        <div class="col-8">
                          <input id="text" [(ngModel)]="stew.birthdate" name="birth" class="form-control here" type="text">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="crew" class="col-4 col-form-label">Crew Id</label> 
                        <div class="col-8">
                            <input id="text" [(ngModel)]="stew.crewModelId" name="crew" class="form-control here" type="text">
                        </div>
                      </div>
                      
                     
                      <div class="form-group row">
                        <div class="offset-4 col-8">
                          <button name="submit" type="submit" class="btn btn-primary">Update My Profile</button>
                        </div>
                        <div class="offset-10 col-8">
                            <button name="submit" type="submit" class="btn btn-primary">Update My Profile</button>
                        </div>
                      </div>

                  </form>
            </div>
        </div>
        
    </div>
</div>